In [26]:
def makeCoinChange_US(deno, amount):
  cham = [float('inf')]*(amount+1)

  cham[0] = 0

  for deno in deno:
    for i in range(deno, amount+1):
      cham[i] = min(cham[i],cham[i-deno]+1)
  return cham[amount] if cham[amount] != float('inf') else -1

In [27]:
makeCoinChange_US([1,5,10,25],101)

5

In [32]:
def makeCoinChange_US(coins, amount):
    coins.sort()

    dp = [float('inf')] * (amount + 1)
    dp[0] = 0
    lastCoin = [0] * (amount + 1)
    for coin in coins:
        for i in range(coin, amount + 1):
            if dp[i - coin] + 1 < dp[i]:
                dp[i] = dp[i - coin] + 1
                lastCoin[i] = coin
    if dp[amount] == float('inf'):
        return -1
    else:
        combinations = []
        while amount > 0:
            combinations.append(lastCoin[amount])
            amount -= lastCoin[amount]
        return combinations

In [33]:
makeCoinChange_US([1,5,10,25],101)

[25, 25, 25, 25, 1]